@import url('https://fonts.googleapis.com/css?family=Shrikhand');
.home {
  position: relative;
  height: 100%;
  width: 100;
  margin: 0;
  background: url("https://media.giphy.com/media/BtLZNZ5OLqB3i/giphy.gif")no-repeat fixed;
  font-family: 'Shrikhand', cursive;
  background-size: cover;
}