<<<<<<< HEAD
/* *{
  border:solid red .05em;
/*   position:abslute;
/*   display:inline; */
body{
  width:100%;
  height:100%;
  margin:0;
}

h1{
  margin:0;
  text-align:center;
  background-color:#333;
  color:white;
  position:fixed;
  width:100%;
  top:0;
  /*padding:2%;*/
}

div{
  text-align:center;
  border:solid;
  width:25%;
 
}
.johnthan,
.josh{
  position:absolute;
  left:15%;
}
.keala,
.sean{
  position:absolute;
  right:15%;
}
.johnthan{
  color:black;
  background-color:yellow;
  top:20%;
  
}
.keala{
  color:pink;
  background-color:limegreen;
    top:20%;
}
.josh{
  color:orange;
  background-color:blue;
  top:65%;
}
.sean{
  color:purple;
  background-color:orange;
  top:65%;
}
.moto{
  color:#efeaea;
  background-color:#820d28;
  position:absolute;
  z-index:1;
  top:40%;
  left:37%;
}
.container{
  position:relative; 
  width: 100%;
  margin:0 auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0,55,73,.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.heros{
  width: 100%;
  
}
.text2 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
=======

footer {
  background-color: aquamarine;
  border-top: solid 3px gold;
  padding: 1.895%;
  display: flex;
  display: block;
  position: fixed;
  clear: both;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  bottom: 0%;
}
a:link {
  text-decoration: none;
}
.navbar {
  list-style-type: none;
  background: aquamarine;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top:0%;
  margin-top:0%;
}

.nav-item a{
  color: pink;
  font-family: Lobster;
  font-size: 125%;
}
li{
    color:gold;
>>>>>>> First commit
}